:host {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;

  .no-results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    img {
      width: fit-content;
    }

    p {
      margin-top: 50px;
      font-size: 48px;
      color: #848484;
    }
  }

  table {
    width: 100%;
  }
}

.item--title {
  width: 200px;
  padding-right: 15px;
}

.item--price {
  width: 65px;
  padding: 0 15px;
}

.display-none {
  display: none;
}
